<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Спасибо! Текст "{{ text }}" добавлен в очередь на отправку</p>
    <p><a href="/">На главную</a></p>
</body>
</html>
